body {
    background-color: #E5E5DC;
    color: #334259;
    font-family: 'Noto Serif', serif;
    margin: 0;
    
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 18px;
}

.content, .sidebar {
    padding-left: 30px;
    padding-right: 30px;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'header header header'
      'sidebar content content'
      'footer footer footer';
}

.header {
    grid-area: header;
    border: 4px solid #6E8783;
    background-color: #6E8783;
}

.sidebar {
    background-color: #334259;
    color: #E5E5DC ;
}

.sidebar-list{
    padding-left: 0;
}

.footer {
    grid-area: footer;
    background-color: #6E8783;
    color: #E5E5DC;
}

a, a:visited {
    text-decoration: none;
    color: #E5E5DC;
    font-size: 20px;
  }
  
nav a:hover {
    color: #334259;
    background-color: #E5E5DC;
    padding: 10px;
    border-radius: 10px;
}

nav ul {
    display: flex;    
    flex-direction: row;
    justify-content: flex-start;
}

ul li {
    padding-right:  15px;
    list-style-type: none;
}


/* EDDDD0 DB504A 334259 E5E5DC 6E8783 */